CherryPy==3.3.0
Django==1.6.5
EasyProcess==0.1.6
Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.23
Pillow==2.4.0
PyYAML==3.10
SQLAlchemy==0.9.4
Werkzeug==0.9.4
argparse==1.2.1
colorama==0.3.1
configobj==5.0.5
cov-core==1.12
coverage==3.7.1
fuzzywuzzy==0.2
glob2==0.4.1
itsdangerous==0.24
jasmine==2.0.0
jasmine-core==2.0.0
lettuce==0.2.19
mock==1.0.1
mockfs==1.0.1
ordereddict==1.1
psutil==2.1.1
py==1.4.20
pyscreenshot==0.3.2
pytest==2.5.2
pytest-cov==1.6
pytest-django==2.6.2
pywin32==219
selenium==2.42.1
six==1.6.1
sure==1.2.7
wxpython==2.8.12.1
wxpython-common==2.8.12.1
