<!DOCTYPE html>
<html ng-app="trackApp" >
<!--<html  >-->
<head>
    <title>Tracktastic</title>
    <script src="js/extras.js"></script>
    <script src="js/jquery-2.1.1.js"></script>
    <!--<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.3.js'></script>-->
    <script src="js/jquery-ui-1.10.4.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="js/sortable.js"></script>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>-->
<script src="js/angular-route.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/controllers/pickerCtrl.js"></script>
<script src="js/controllers/processCategoryCtrl.js"></script>
<script src="js/directives/picker.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.css"/>
</head>
<body class="container">
<div ng-controller="TracktasticCtrl">

    <div class="row" picker>
        <div class="col-xs-6">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>

    <!--<d3-barsxx data="data"></d3-barsxx>-->
    <d3-process data="processes" test = "testfunc()" label="Label" on-click="trackClick(item)"></d3-process>

    <div class="columns large-12 small-12" ng-show="showDetailPanel">
    <h3>Details</h3>
    <h4 class="ng-binding">Title: {{detailItem.title}}</h4>
    <h4 class="ng-binding">Process: {{detailItem.filename}}</h4>
    <h4 class="ng-binding">Start: {{detailItem.start_time | date:'shortTime'}}</h4>
    <h4 class="ng-binding">End: {{detailItem.end_time | date:'shortTime'}}</h4>
    <h4 class="ng-binding">End: {{detailItem.end_time | date:'shortTime'}}</h4>
    <h4 class="ng-binding">Category: {{detailItem.process_category.title}}</h4>
    <a ng-click="showDetailPanel=false">Hide</a>



  </div>
    <div ng:controller="ProcessCategoryCtrl">
        <div class="col-xs-4">
            <div ui:sortable ng:model="process_cats">
                <div ng:repeat="item in process_cats" class="item" style="cursor: move;">
                    <div class="btn btn-default">{{$index}} - {{item.title}}</div>
                    <div class="btn btn-danger" ng-click="deleteCat(item)"><i class="glyphicon glyphicon-trash"></i></div>
                </div>
            </div>
            <hr />
            <div ng:repeat="cat in process_cats">
                {{$index}} - {{cat.title}} - {{cat.order}}
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group row">
                <label for="cat_name">Category Name:</label>
                <input id="cat_name" class="form-control" type="text" ng-model="newcat.title"/>
            </div>
            <div class="form-group row">
                <label for="cat_title_search">Title search:</label>
                <input id="cat_title_search" class="form-control" type="text" ng-model="newcat.title_search"/>
            </div>
            <div class="form-group row">
                <label for="cat_filename_search">Category Name:</label>
                <input id="cat_filename_search" class="form-control" type="text" ng-model="newcat.filename_search"/>
            </div>
            <button class="btn btn-primary btn-block"
                    ng-click="addNewCategory(newcat)">
                Add
            </button>
        </div>
    </div>




    <!--<div>-->
        <!--Sort by: {{orderProp}}-->
        <!--<select ui0 ng-model="orderProp">-->
            <!--<option value="title">Alphabetical</option>-->
            <!--<option value="datetime">Newest</option>-->
            <!--<option value="-datetime">Oldest</option>-->
        <!--</select>-->
        <!--<ul>-->
        <!--<li ng-repeat="process in processes | filter:query | orderBy:orderProp">-->
            <!--<div>{{process.title}}</div>-->
            <!--<div>{{process.datetime | date:'shortTime'}}</div>-->
            <!--<div>{{process.filename}}</div>-->
        <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
</div>

<!--<div ng-view></div>-->


<!--<script src="js/services.js"></script>-->

</body>
</html>